/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color to the entire page */
body {
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Style the header */
    .header {
    color: white;
      overflow: hidden;
        background-color: #394876;
        padding: 0.5% 0.5%;
    
        
        

        }
    
     .header img{
float: left;
padding: 1.2%;

     }
     .rightnav{
      display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
     }
      
      .rightnav a {
     
       margin-top: 0.75vh;
        color: white;
        text-align: center;
        padding: 1vh;
        text-decoration: none;
        font-size: 2vh;
        line-height: 3vh;
        border-radius: 10%;
        margin-right: 2vh;
        cursor: pointer;
        
      }
    .rightnav button{
      color: white;
      background-color: #394876;
      text-align: center;
      padding: 1vh;
      text-decoration: underline;
      font-size: 2vh;
     margin-top: 1vh;
      border-radius: 10%;
      margin-right: 2vh;
      cursor: pointer;
      border: none;
      
    }
    button:hover{
      background-color: dodgerblue;
    }
/* Style the logo link*/
      .rightnav a.logo {
        font-size: 25vh;
        font-weight: bold;
        cursor: pointer;
      }
      
      /* Change the background color on mouse-over */
      .rightnav a:hover {
        background-color: #ddd;
        color: black;
  
      }
      /* Style the active/current link*/
.rightnav a.active {
    background-color: dodgerblue;
    color: white;
  }
 
 /*allign text to the right*/
  .rightnav{
    float: right;
    
 }
 

/* Style the main content area */
main {
    padding: 2%;
}

/* Style the featured content section */

.hero {
  background-image: url('hero-image-m.png');
  background-size: cover;
  background-position: center;
  height: 100vh;  /* Adjust the height as needed */
  text-align: center;
  color: white;
  display: flex;

 
 
}

.hero h1 {
  font-size: 5vh;
 width: 40%;
 text-align: left;
  color: gray;
  margin-top: 30vh;
  margin-left: 20vh;
 

}




.forum-image{
width: 50%;
}


.forum-ad {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  background-color: white;
  padding: 5%;
  border-style: solid;
  border-radius: 10vh;
  border-color: grey;
}

.forum-image {
  width: 70%; /* Adjust image width */
  float: left;
  height: auto;
  /* Add any other image styling here */
}

.forum-text {
  /* Adjust text width */
  font-size: 2vh;
margin-left: -15%;
  /* Add any other text container styling here */
}
.forum-text h1 {
font-size:3vh;


}
.forum-text p{

  width: 70%;
}


.button {
  background-color: #394876;
  color: white;
  text-decoration: none;
  padding: 1vh 2vh;
  border-radius: 20vh;
  cursor: pointer;
  
}

.button:hover {
  background-color: dodgerblue;
  transition: background-color 0.5s ease;
}
.learning-ad {
  margin-top: 15vh;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5%;
  border-style: solid;
  border-radius: 10vh;
  border-color: grey;
}

.learning-image {
  width: 60%; /* Adjust image width */
float: right;
  height: auto;
  /* Add any other image styling here */
}

.learning-text {
  /* Adjust text width */
  width: 100%;
  font-size: 2vh;
 margin-top: 20vh;
 margin-left: 15vh;




  /* Add any other text container styling here */
}
.learning-text h1{

  font-size:3vh
}




footer{
  background-color: #394876;
margin-top: 5%;
border-top-style: solid;
color: #808080;

padding: 5%;

}
#top-footer a,img {

  margin-right: 50px;
}
footer a{

color: white;
text-decoration: none;
}

footer a:hover{
background-color: #394876;
    color: dodgerblue;
}
footer ul{
list-style-type: none;
}
.footer-list{
  display: flex;
}
.footer-list ul{
  margin-right: 7vh;
}


footer h3,h4{
color: white;
}
footer h4{
  margin-bottom: -15px;
}
#socials a{
margin-right: -48px;
width: 100%;

}


.container {
  width: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  background-color: #fff;
 margin: auto;

 border-radius: 1vh;
}

.container form {
  width: 100%;
  padding: 20px;
}

.container form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.container form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #394876;
  color: #fff;
  cursor: pointer;
}

.container form button:hover {
  background-color: dodgerblue;
}

.remove{
  position: absolute;
    margin: auto;
    margin-left: 42vh; 
    background-color: white;
    border-style: none;
}
.remove:hover{
  background-color: white;
  color: red;
}




  

.container p{
  margin-top: 2vh;
  color: #808080;
}

.container p button{
  border-style: none;
  background-color: white;
  color: #394876;
  width: 0vh;
  padding: 1vh;
  margin-top: -1vh;
  text-decoration: underline;
  }
  .container p button:hover{
    background-color: white;
    color: dodgerblue;
    
  }
#scrollToTopBtn{
height:5vh;
width: 5vh;
  border-radius: 50%; 
  color: gray; 
  border: none; 
  cursor: pointer;
  position: fixed;
  bottom: 2vh; 
  right: 2vh; 
  justify-content: center;
  align-items: center;
  background-color: transparent;
  display: none;

}

.overlay{
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Initially hidden */
  padding: 100vh;
  border-radius: 8vh;
}

.card{
  background-color: #394876 ;
  vertical-align: middle;
 width: 40vh;
 height: 40vh;
  margin-left: 3vh;
  margin-right: 20vh;
  margin-bottom: 20vh;
  padding: 1vh 1vh 1vh 1vh;
  text-align:center;
  box-shadow: 2vh 5vh 9vh #888888;
  border-radius: 7vh;
 }

 .lang-container{

  vertical-align: middle;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
 

}

.button-learn{
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 1vh 1vh;
  border-radius: 20vh;
  cursor: pointer;
  display: block;
  max-width: 25vh;
  margin-bottom: 2vh;
  margin-left: 7vh;
}
.card p{
margin-bottom: 10vh;
color: white;


}
.card h1{
  color: white;
}
.card img{
  margin-left: 7vh;
}
.card{  
cursor: pointer;
border-radius: 7vh;
box-shadow: 0.5vh 1vh 2vh #888888;
transform: scale(1) translateZ(0);
transition: 0.5s;
}
.card:hover{
  transform: scale(1.2) translateZ(0);

}

.button-learn:hover{background-color:dodgerblue;
  transition: background-color 0.5s ease;

}
.prog-lang{
  background-image: url('42369802.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
.langs{
  margin-top: 0;
}

.dropbtn {
  background-color: white;
  color: black;
 font-size: 3vh;
  border: none;
  border-bottom:  0.3vh solid black;
  padding-bottom: 3vh;
  border-color: gray;
  margin-bottom: 2vh;
  cursor: pointer;
}
.dropbtn h3{
  display: inline;
}
.dropbtn:hover{background-color: white;
  text-decoration: underline;

}
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 10vh;
  background-color: white;
  min-width: 30vh;
}
.dropdown svg{
  margin-left: 1vh;
}
.dropdown-content {
 
  position: absolute;
  background-color: white;
  
}
#myDropdown{display: none;}
.dropdown button{
  cursor: pointer;
}
.dropdown-content button{
  width: 12vh;
border: none;
  height: 4vh;
  background-color: white;
  border-radius: 1vh;

  
 
}
.dropdown-content button:hover{
  background-color: dodgerblue;
  transition: 0.5s;
  color: white;
}
.Filters{
  margin-left: 40vh;
 padding-bottom: 1vh;
 border-color: black;
}
.Filters button{
  padding: 1vh;
  background-color: white;
  margin-top: 2vh;
  border-radius: 2vh;
  border-color: gray;
  margin-right: 1vh;
}
.Filters button:hover{
cursor:pointer;
}
#active{
  background-color: dodgerblue;
}
#active1{
  background-color: white;
}
#active2{
  background-color: white;
}
#active3{
  background-color: white;
}
.forum-content{
  margin-left: 40vh;
  margin-top: -20vh;
background-color: white;
 min-height: 100vh;
 padding: 5vh;
 width: 81%;
}
.forum-content h2{
  border-bottom: 0.2vh solid black;
padding: 1vh;
}

.forum-content section{
  margin-top: 3vh;
  padding: 4vh;
 
}
.forum-content a,p{display: flex;}
.forum-content article{
  padding: 2vh;
  margin-bottom: 3vh;
  border-top: 0.2vh solid lightgray;
  border-bottom: 0.2vh solid lightgray;
}
.forum-content h3{
  margin-bottom: 2vh;
}
.crt-disc{
  margin-left: 80%;
  background-color: #394876;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 1vh;
  color: white;
}
.crt-disc:hover{
  background-color: dodgerblue;
}
.user a{
  margin-left: 1vh;
  margin-right: 1vh;
}

#adddiscOverlay{
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
 
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Initially hidden */
  padding: 100vh;
  border-radius: 8vh;
}


textarea{
  resize: none;
  margin-bottom: 1vh;
  width: 40vh;
  height: 20vh;
}

footer button{
  background-color: #394876;
  border: none;
  color: white;
  padding: 2vh;
  font-size: medium;
  margin-left: -3vh;
}
footer button:hover{
  background-color: #394876;
  color: dodgerblue;
}
#errorOverlay{position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Initially hidden */
  padding: 100vh;
  border-radius: 8vh;}
  
  .container-error{
    background-color: white;
    width: 50vh;
    padding: 4vh;
    height: 50%;
    justify-content: space-between;

  }
  .container-error h2{
    margin-bottom: 2vh;
  }
  .container-error form button{
   width: 25%;
    padding: 1vh;
    border: none;
    border-radius: 1vh;
    background-color: #394876;
    color: #fff;
    cursor: pointer;
   
  }
  .container-error form button:hover{
    background-color: dodgerblue;
    transition: 0.2s;
  }
  .remove-err{
    background-color: white;
    border: none;
    margin-left: 40vh;
  }
  .remove-err:hover{
    background-color: white;
    color: red;
  }